body {
  height: 100vh;
}

.title {
  color: lightgrey;
}

.app {

  display: flex;
  justify-content: space-between;
  align-items: center;


}

.scan {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.btn {
  margin: 6vh;
  color: #fff;
  background-color: #444;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  padding: 2vh 3vh 2vh 3vh;
  letter-spacing: 0.3vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}